:root {
  --purple-1: #efe8ff;
  --purple-2: #8663d1;
  --purple-3: #7c5ac5;
  --white: #fff;
  --grey-1: #f7f7f7;
  --grey-2: #e9e9e9;
  --grey-3: #94918a;
  --grey-4: #414558;
  --grey-5: #30343b;
  --blue-3: #8dbcff;
  --red-1: #ff5353;
  --red-2: red;
  --red-3: #7e2828;
  --black: #000;
}
