.invoice {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;

    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      font-size: 2rem;
    }

    &--back {
      display: flex;
      align-items: center;
    }
  }

  &-card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    padding: 1rem;
    background-color: var(--white);

    &__title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      cursor: pointer;
    }

    &__body {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__text {
      p:last-child {
        margin-bottom: 0;
      }
    }

    &__enter {
      padding-left: 0.5rem;
    }

    &.new {
      i {
        padding: 0.5rem;
        display: inline-flex;
      }
    }
  }

  &-item {
    &__empty {
      min-height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--grey-5);

      img {
        width: 24px;
        height: 24px;
      }

      p {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  &-form {
    margin-bottom: 4rem;
  }
}
