.preview {
  &-box {
    box-shadow: -12px 45px 30px 0px rgba(0, 0, 0, 0.15);
    margin-top: 2rem;
    overflow-x: auto;
  }

  &-top {
    padding: 3rem 2.5rem;
    min-height: 600px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      padding: 5rem;
    }
  }

  &-bottom {
    padding: 1rem 2.5rem 3rem;
    background-color: var(--purple-1);
    min-width: 700px;

    @include tablet {
      padding: 2rem 5rem 4rem;
    }
  }

  &-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &--self {
      text-align: right;
      padding-left: 1.5rem;
    }
  }

  &__name {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    p:not(.preview-footer__thanks) {
      font-size: 0.85rem;
    }
    &__thanks {
      padding-right: 10px;
      font-size: 1.25rem;
    }
  }

  &-meta {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 1rem;
      width: 65%;
      margin-left: auto;
    }

    &__title {
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 1.02px;
      padding: 0 0.5rem;
      margin-right: 0.5rem;
    }

    &__total {
      color: var(--red-3);
      font-size: 1.25rem;
      padding: 0.5rem;
    }
  }
}

.table {
  &-head,
  &-row {
    display: flex;
    width: 100%;
    & > div {
      padding: 0.5rem;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }

  &-desc {
    width: 60%;
  }

  &-price {
    width: 15%;
    text-align: center;
  }

  &-qty {
    width: 10%;
    text-align: center;
  }

  &-subtotal {
    width: 15%;
    text-align: center;
  }

  &-bank {
    width: 35%;
  }

  &-due {
    width: 35%;
  }

  &-total {
    width: 30%;
    text-align: right;
  }

  &-head {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1.02px;

    &__hr {
      width: calc(100% - 1rem);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
  }

  &-row {
    margin-bottom: 1rem;
    .table {
      &-subtotal {
        color: var(--purple-3);
      }
      &-due {
        font-size: 2.5rem;
        line-height: 1;
      }
      &-total {
        font-size: 2.5rem;
        line-height: 1;
        color: var(--purple-3);
      }
    }
  }

  &-form {
    min-width: 700px;

    &__box {
      overflow: auto;
    }

    .table-desc {
      width: 50%;
    }

    .table-price {
      width: 15%;
      text-align: center;
    }

    .table-qty {
      width: 10%;
      text-align: center;
    }

    .table-subtotal {
      width: 15%;
      text-align: center;
    }

    .table-actions {
      min-width: 100px;
      justify-content: center;
      width: 10%;
      display: flex;
    }

    .table-row {
      align-items: center;
    }
  }
}
